.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url(../fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: Poppins-Bold;
}

body {
    background-color: hsl(0, 0%, 94%);
}

.p-name-input {
    color: hsl(0, 1%, 44%);
    font-size: 14px;

    padding-bottom: 10px;
}
.p-name-output {
    font-family: Poppins-ExtraBoldItalic;
    color: hsl(0, 0, 0);
    font-size: 6em;
}
.p-num {
    font-family: Poppins-ExtraBoldItalic;
    color: hsl(259, 100%, 65%);
    font-size: 6em;
}
.p-error {
    color: hsl(0, 100%, 67%);
    font-family: Poppins-Regular;
    font-size: 14px;
}


input {
    width: 90%;
    height: 60px;

    border: 0;
    border-radius: 8px;
    outline: none;

    text-indent: 20px;

    font-family: Poppins-ExtraBold;
    font-size: 24px;
}
#input-day:focus {
    border: 1px solid hsl(259, 100%, 65%);
}
#input-month:focus {
    border: 1px solid hsl(259, 100%, 65%);
}
#input-year:focus {
    border: 1px solid hsl(259, 100%, 65%);
}

.input-correct input {
    border: 1px solid hsl(0, 0%, 86%);
}
.input-incorrect input{
    border: 1px solid hsl(0, 100%, 67%);
}
.input-incorrect .p-name-input{
    color: hsl(0, 100%, 67%);
}

button {
    width: 15%;
    aspect-ratio: 1 / 1;

    cursor: pointer;

    border: 0;
    border-radius: 50%;

    background-color: hsl(259, 100%, 65%);
}
button img {
    width: 50%;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}
.content {
    width: 50%;
    padding: 70px;
    border-radius: 32px 32px 200px 32px;
    background-color: white;
}


.block-data{
    display: flex;
}
.container-input {
    width: 25%;
}

.block-but {
    display: flex;
    width: 100%;
}
.line {
    width: 85%;
    border-top: 1px solid hsl(0, 0%, 86%);
    transform: translateY(50%);
}

.block-output {
    display: flex;
    flex-direction: column;
}
.container-output {
    display: flex;
    width: 100%;
    gap: 20px;
}